*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Mukta', sans-serif;
    height: 100vh;
    background-color: #051a2d;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.container img{
    margin-left: 30px;
    margin-top: 10px;
    width: 150px;
    height: 150px;
} 

.location{
    margin: 0 auto;
}

.location h1{
    color: white; 
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

span{
    margin-top: 20px;
    margin-left: 30px;
}

button{
    background-color: #042036;
    color: white;
    width: 60px;
    height: 30px;
    font-size: 20px;
    border-radius:5px;
    border: 1px solid #004e9a;
}

button:hover{
    background-color: white;
    color: #042036;
}